.recommendation-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    overflow-x: scroll;
}

.item-description{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border: 1px solid black;
    padding: 10px;
}

.item-container{
    display: flex;
    flex: 0 0 auto;
    width: 300px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-atc{
    border-radius: 10px;
    background-color: #ffd811;
}

.btn-buy{
    border-radius: 10px;
    background-color: #ffa41c;
}

